# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# Eclipse
.project
.classpath
.settings/
.springBeans

# IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Docker
docker-compose.override.yml

# Others
build/
